<!DOCTYPE html>
<html lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/general.html :: commonHeader(~{::title},~{::link})">
<title>Admin Home</title>
<link rel="stylesheet" type="text/css" th:href="@{/admin/s3/css/admin-home.css}" />
</head>
<body class="activity-stream">
    <div id="root">
        <header class="top-header">
            <nav th:replace="fragments/general.html :: navbarFragment"></nav>
        </header>
        <div>
        <span th:utext="${loggedInUserName}"></span>
            <div class="outer-wrapper only-button">
                <main>
                    <div class="non-collapsible-section">
                        <div class="button-wrapper">
                            <div class="logo-watermark">
                                <div class="logo"></div>
                            </div>
                            <div class="button-inner-wrapper">
                                <button id="showMeDarina" class="nsfw-button" title="NSFW">
                                    <span class="button-text">Give Me Porn</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script th:src="@{/admin/s3/js/dar.js}" type="text/javascript"></script>
</body>
</html>
