<!DOCTYPE html>
<html lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto" rel="stylesheet"> 
<title>Profile Page</title>
<link rel="stylesheet" th:href="@{/css/navbar.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/foundation.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/main-style.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/admin/s3/css/admin-style.css}"/>
<link rel="icon" type="image/png" th:href="@{/images/snpk-icon.png}"/>
</head>

<body class="senpai">
    <div class="main" th:classappend="${isAdmin} ? ind-ns : ''">
        <header class="top-header">
            <nav th:replace="fragments/general.html :: navbar"></nav>
        </header> 
    </div>
    <script src="http://code.jquery.com/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script th:src="@{/js/util.js}" type="text/javascript"></script>
</body>
</html>